<h1>Blog Function Detail Screen </h1>

    <p>Name:    <%= @blog_function.name %></p>
    <p>Email:   <%= @blog_function.email %></p>
    <p>Content: <%= @blog_function.content %></p>
<br>
<%= link_to 'Return to Blog Function List', blog_functions_path %>